* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #121c25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.parent {
    width: 800px;
    height: 100px;
    border: 3px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.child {
    width: 10%; /* width: 0%; */
    height: 100%;
    background-color: white;
    transition: 1.5s;
}

/* .child:hover {
    width: 100%;
    background-color: white;
} */

.parent:hover .child {
    width: 100%;
    background-color: white;
}
p {
    font-size: 100px;
    font-weight: 600;
    color: white;
}