
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1 {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 5px;
    padding-top: 24%;
}

p {
    font-size: large;
    margin-top: 5px;
}
.parent {
    overflow: hidden;
    width: 450px;
    height: 300px;
    margin-left: 35%;
    margin-top: 10%;
    background-size: contain;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: 45% center;
    background-image: url(./tbilisi.jpg);
    box-shadow: 10px 10px 25px gray;
}
.child {
    height: 100%;
    text-align: center;
    color: white;
    background-color: rgba(132, 130, 75, 0.4);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}